@custom-media --notebook (max-width: 1366px);
@custom-media --desktop (max-width: 1200px);
@custom-media --tablet-landscape (max-width: 1024px);
@custom-media --tablet (max-width: 768px);
@custom-media --mobile (max-width: 600px);
@custom-media --extra-mobile (max-width: 480px);

:root {
  --color-main: #ec5c7d;
  --color-second: #222;
  --color-grey: #ddd;
  --color-main-dark: #881a3c;
  --padding-side: 20px;
  --transition-length: 0.1s;
  --font-main: 'Montserrat-Regular', 'Arial', 'Verdana', 'Tahoma';
  --font-second: 'Montserrat-Regular', 'Arial', 'Verdana', 'Tahoma';
}

@define-mixin form-button {
  align-items: center;
  appearance: none;
  background-color: #2641cc;
  border-radius: 27px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  outline: none;
  overflow: hidden;
  padding: 18px 40px;
  position: relative;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  transition: background-color var(--transition-length) linear, color var(--transition-length) linear;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  @media (--mobile) {
    font-size: 14px;
  }

  span {
    pointer-events: none;
    position: relative;
  }

  &:hover,
  &:focus {
    background-color: #881a3c;
    color: #fff;
    text-decoration: none;
  }
}

@define-mixin form-input {
  background-color: #fff;
  border: none;
  color: #222;
  display: block;
  height: 40px;
  line-height: 1;
  padding: 0 20px;
  width: 100%;

  &[placeholder] {
    text-overflow: ellipsis;
  }

  @media (--mobile) {
    font-size: 12px;
  }
}

@define-mixin form-textarea {
  background-color: #fff;
  border: none;
  color: #222;
  display: block;
  min-height: 80px;
  line-height: 1.5;
  padding: 20px;
  width: 100%;

  &[placeholder] {
    text-overflow: ellipsis;
  }

  @media (--mobile) {
    font-size: 12px;
  }
}

@define-mixin form-group {
  margin: 0 0 20px;
}

@define-mixin form-messages {
  padding: 1rem 0;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-family: var(--font-main);
      text-transform: uppercase;
    }
  }
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src:
    url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat-Regular';
}

@media (min-width: 1200px) {
  .container {
    width: 1280px;
    max-width: 100%;
  }
}

.header {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 0;

  &-logo {
    display: block;
    left: 40px;
    position: absolute;
    text-decoration: none;
    top: 20px;
    z-index: 2;
    width: 216px;
    height: 68px;
  }

  &-video {
    background-color: #4891cc;
    display: block;
    position: relative;
    width: 100%;
    z-index: 2;
  }
}

.header-video-back {
  display: none;
  position: relative;
  top: 0;
}

nav.first ul a,
.main__submenu a {
  color: #999;
  text-transform: uppercase;
}

nav.first video {
  height: 874px;
  position: absolute;
  z-index: -1;
}

nav .sidenav-trigger {
  float: none;
  margin: 0;
  position: relative;
}

nav .sidenav-trigger i {
  margin-left: 20px;
}

.navigation {
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: 2;

  .top-menu {
    padding: 0;

    li {
      list-style-type: none;
    }

    a {
      color: #fff;
      font-size: 1.2rem;
      user-select: none;

      &:hover {
        color: #cdd5dc;
      }
    }
  }
}

.textblock {
  font-family: 'Montserrat-Regular';
  font-size: 25px;
  margin: 0;
  padding: 45px 0;
}

.superblock {
  padding: 45px 0;

  &--mb {
    margin: 0 0 40px;
  }

  &--grey {
    background-color: #ddd;
  }

  &__header {
    font-size: 3rem;
    margin: 0 0 2rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    user-select: none;

    &::after {
      background-color: #222;
      content: ' ';
      display: block;
      height: 2px;
      margin: 20px auto 0;
      width: 70px;
    }
  }
}

.portfolio {
  background-color: #ddd;
  padding: 40px 0;

  &-item {
    & video {
      display: block;
      margin: 10px auto;
      width: 100%;
    }
  }
}

.team {
  &-member {
    margin: 0 0 20px;

    &__inner {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 360px;
      position: relative;
      width: 100%;
    }

    &__description {
      bottom: 0;
      color: #fff;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      user-select: none;
    }

    &__name {
      font-size: 1.5rem;
      padding: 0 0 0.5rem;
      text-transform: uppercase;
    }

    &__post {
      font-size: 1rem;
      padding: 0 0 0.5rem;
      text-transform: uppercase;
    }
  }
}

.feedback {
  &__container {
    margin: 0 auto;
    max-width: 860px;
  }

  &__header {
    color: #fff;
    font-family: var(--font-second);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0 0 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  & .form-group {
    @mixin form-group;

    &__label {
      display: block;
      user-select: none;
    }
  }

  &-messages,
  &-loader,
  &-errors {
    @mixin form-messages;
  }

  &__input {
    @mixin form-input;
  }

  &__textarea {
    @mixin form-textarea;
  }

  &__submit {
    @mixin form-button;

    &-wrapper {
      margin: 0 !important;
      padding: 0;
      text-align: center;
    }
  }
}

.footer {
  background-color: #333;
  color: #aaa;
  padding-top: 0;

  a {
    color: #aaa;
  }

  &__address {
    margin: 30px 0 0;
    padding: 0;
    text-align: left;
    font-style: normal;
  }

  &__copyright {
    margin: 30px 0 0;
    padding: 1rem 0;
    text-align: center;
    user-select: none;
  }

  & .row {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1273px) {

}
