@import '_media';
@import '_variables';
@import '_mixins';

@import '_contacts';
@import '_feedback';
@import '_footer';
@import '_header-navigation';
@import '_header';
@import '_index-advantages';
@import '_portfolio';
@import '_superblock';
@import '_team';

@font-face {
  font-display: swap;
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src:
    url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: var(--font-main);
}
